@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "RobotoRegularNew", sans-serif
	overflow-x: hidden

.header
	&-index
		position: absolute
		left: 0
		right: 0
		top: 0
		z-index: 10
		padding-top: 2%
		padding-left: 35px
		padding-right: 35px
	&__right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		padding-top: 28px
	&__h-logo
	&__h-nav
		padding-right: 80px
	&__h-favorites
		padding-right: 80px
	&__h-lang

.black-page
	min-height: 100vh
	display: block
	position: relative
	background-image: url(../img/contacts-fon.png)
	background-size: 110% auto
	background-repeat: no-repeat
	background-color: #000
	&::before
		content: ''
		background-image: url(../img/black-page.png)
		background-size: cover
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1


.page
	&-black
		position: relative
		&-glitch
			
	&-index
		position: relative
	&__p-buttons
		position: absolute
		top: 72%
		z-index: 5
		width: 50%
		left: 50%
	&__p-social
		position: absolute
		right: 6%
		bottom: 9.5%
		z-index: 5
	&__p-title
		text-align: center
		padding-top: 4%
	&__p-people
		margin-top: 30%
	&__container
		max-width: 1545px
		margin: 0 auto
		.container
			max-width: 100%
		&-bottom
			padding-top: 100px
			padding-bottom: 435px
			position: relative
			.page__p-social
				bottom: 118px
				right: 156px
			.p-contact__img
				position: absolute
				bottom: 0
				top: auto
				right: 0
				padding-top: 72px
				height: 100%
				width: 50%
				img
					max-height: 100%
					max-width: 100%
					display: block
					position: absolute
					bottom: 0
					right: 10%
	&__map
		margin-top: 60px
		img
			display: block
			width: 100%
	&__p-copy
		position: absolute
		bottom: 118px
		left: 156px
		font-size: 12px
		color: #919191
		letter-spacing: 0.25
		font-family: "MullerRegular"
