@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "GothamProRegular", sans-serif
	overflow-x: hidden

.header
	&-index
		position: absolute
		left: 0
		right: 0
		top: 0
		z-index: 10
		padding-top: 2%
		padding-left: 35px
		padding-right: 35px
	&__right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		padding-top: 28px
	&__h-logo
	&__h-nav
		padding-right: 80px
		margin-top: -20px
	&__h-favorites
		padding-right: 80px
		margin-top: -22px
	&__h-lang
		padding-top: 1px

.black-page
	position: relative
	&__wrapper
		display: block
		position: relative
		background-image: url(../img/contacts-fon.png)
		background-size: 110% auto
		background-repeat: no-repeat
		min-height: 100vh
	&-bg
		content: ''
		background-image: url(../img/black-page.jpg)
		background-size: 100% auto
		background-position: center bottom
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1

.white-page
	background-image: url(../img/white-page.jpg)
	background-size: 100% 100%
	min-height: 100vh
	display: block
	position: relative
	background-repeat: no-repeat
	.h-nav__link
		color: #121211
		&:hover
			color: #121211
			&::after
				border-bottom: 3px solid #121211
	.h-favorites,
	.h-lang__link
		color: #121211
		&:hover
			color: #121211
	.h-favorites svg
		color: #121211



.page
	&-black
		position: relative
		&-glitch
	&-white
		position: relative

	&-index
		position: relative
	&__p-buttons
		position: absolute
		top: 68%
		z-index: 5
		width: 50%
		left: 50%
	&__p-social
		position: absolute
		right: 6%
		bottom: 9.5%
		z-index: 5
	&__p-title
		text-align: center
		padding-top: 4%
	&__p-people
		margin-top: 30%
	&__container
		max-width: 1545px
		margin: 0 auto
		.container
			max-width: 100%
		&-bottom
			padding-top: 100px
			padding-bottom: 435px
			position: relative
			overflow: hidden
			.page__p-social
				bottom: 118px
				right: 50px
			.p-contact__img
				position: absolute
				bottom: 0
				top: auto
				right: 0
				padding-top: 74px
				height: 100%
				width: 100%
				margin-left: 5%
				z-index: -1
				img
					max-height: 100%
					max-width: 100%
					display: block
					position: absolute
					bottom: -20px
					display: inline-block
					right: 10%
				&-wp
					position: absolute
					top: 74px
					right: 5%
					bottom: 0
					left: 0
				&-glitch
					background-image: url(../img/atlant-black.png)
					display: block
					height: 100%
					width: auto
					background-size: auto 100%
					background-repeat: no-repeat
					background-position: right center
	&__map
		margin-top: 60px
		img
			display: block
			width: 100%
	&__p-copy
		position: absolute
		bottom: 118px
		left: 0
		font-size: 12px
		color: #919191
		letter-spacing: 0.25
		font-family: "MullerRegular"
	&__p-search
		width: auto
		height: 50px
		border-bottom: 2px solid #121211
		border-top: 2px solid transparent
		padding-left: 31px
		position: relative
		margin-top: 70px
		margin-left: -30px
		svg
			font-size: 16px
			color: #121211
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
	&__p-programmer
		text-align: right
		margin-top: 78px
	&__p-filter
		padding-top: 74px
		padding-right: 50px
		padding-bottom: 20px
		position: relative
	&__p-progitem
		padding-top: 74px
	&__p-progitem
		margin-left: -30px
		width: auto
		&-fav
			margin-left: 0
			padding-bottom: 16px
			border-bottom: 2px solid #121211
		&-more
			margin-left: 0
			padding-top: 57px
			padding-bottom: 50px
	&__p-sort
		text-align: center
		padding-top: 56px
	&__p-participant
		padding-bottom: 60px
		&-par
			.p-people__social
				text-align: center
				padding-top: 0
			.p-people__item
				margin-right: 20px
				&:last-child
					margin-right: 0
			.p-participant__title
				font-size: 18px
	&__participant
		padding-top: 64px
	&__p-subtitle
		padding: 57px 0 0
		text-align: center
	&__p-izb
		padding-top: 30px
	&__p-description
		h2
			color: #19211e
			text-transform: uppercase
			font-size: 34px
			display: block
			letter-spacing: 0.25px
			font-family: "MullerBold"
			padding-bottom: 8px
		p
			font-size: 18px
			color: #121211
			letter-spacing: 0.15px
			font-family: "MullerRegular"
	&__p-progslider
		padding-top: 25px
		padding-bottom: 10px
	&__partner-card
		padding-top: 42px
		padding-bottom: 50px
		.p-participant__bottom
			padding-left: 0
			padding-right: 0
			padding-top: 67px
		.p-participant__btn
			background-color: #fff
			color: #020202
		.page__p-participant
			padding-bottom: 0
	&__p-media
		padding-top: 60px
		position: relative
		h2
			color: #19211e
			font-size: 34px
			letter-spacing: 0.25px
			font-family: "MullerBold"
			display: block
			padding-bottom: 30px
			text-transform: uppercase
		p
			display: block
			color: #121211
			font-size: 18px
			font-family: "MullerRegular"
			letter-spacing: 0.25px
			padding-bottom: 60px
		iframe
			display: block
			width: 100%
			height: 500px
			margin-bottom: 110px
		.p-media__img
			position: absolute
			left: -324px
			top: -64px
			img
				display: block
				width: auto
				height: auto


.footer
	padding: 70px 0
	.page__p-copy
		position: static
		color: #121211
	.page__p-social
		position: static
		text-align: right
		.p-social__link
			svg
				color: #121211
	&-black
		.page__p-copy
			color: #fff
		.page__p-social
			.p-social__link
				svg
					color: #fff
	&__f-adab
		color: #121211
		font-size: 11px
		letter-spacing: 0.25px
		text-align: right
		font-family: "MullerRegular"
		padding-top: 1px
		display: block

.header-index .header__h-favorites
	margin-top: -22px
.header-white .h-favorites::after
	background-color: #121211

.p-pcard__right
	.p-progitem
		max-width: 336px
		width: auto
		background-color: transparent
		padding: 0
		margin-bottom: 0
	.p-progitem__wrapper
		border: none
		padding-top: 0
		height: auto
	.p-progitem__row
		padding-bottom: 16px

.row-pcard
	padding-top: 4%

.row-p-description
	padding-bottom: 65px

.p-pcard-white
	.p-pcard__prev
		color: #fff
		svg
			color: #fff
		&:hover
			color: #fff

.header-scroll
	display: none

.header-fixed
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 20
	background-size: 100% auto
	background-repeat: no-repeat
	background-position: center center

.header-fixed.header-white
	background-image: url(../img/white-page.jpg)

.header-fixed.header-black
	background-image: url(../img/black-page.jpg)