@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1662px)
	.header__h-nav,
	.header__h-favorites
		padding-right: 40px
	.index-bg__wrapper
		left: 21%
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1649px)
	.header-black,
	.header-white
		.h-nav__link
			font-size: 10px
		.h-favorites
			font-size: 10px
		.h-lang__link
			font-size: 8.8px
		.h-buy
			width: 150px
		.header__h-buy
			margin-top: -20px
		.header__h-nav
			margin-top: -20px
		.header__h-nav
			margin-left: -40px
		.header__h-lang
			padding-right: 30px
		.header__h-favorites
			padding-right: 30px
		.header__h-nav
			padding-right: 30px
		.h-favorites svg
			top: 20px
	.page__p-copy
		left: 15px
	.header-white .h-lang__item::before,
	.header-black .h-lang__item::before
		top: 2px
	/**/

@media only screen and (max-width : 1566px)
	.header__h-nav,
	.header__h-favorites
		padding-right: 30px
	.h-lang
		width: 63px
	/**/

@media only screen and (max-width : 1542px)
	.header__h-nav
		text-align: right
	.header-index .h-lang__item::before
		top: 2px
	.header-index .header__h-favorites
		margin-top: -20px
	.header__h-lang
		padding-top: 5px
	.header__h-nav
		width: auto
	.h-nav__link
		font-size: 10px
	.h-favorites
		font-size: 10px
	.h-lang__link
		font-size: 8.8px
	.header-index
		padding-left: 50px
		padding-right: 50px
	.h-favorites svg
		top: 20px
	.page__p-buttons
		top: 66%

	/**/

@media only screen and (max-width : 1455px)
	.p-progitem__wrapper
		height: 139px
/**/

@media only screen and (max-width : 1399px)
	.index-bg__wrapper
		left: 18%
	.page__p-buttons
		left: 47%
	/**/


@media only screen and (max-width : 1390px)
	
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1211px)
	.header-black .h-favorites svg, .header-white .h-favorites svg
		top: 2px
	.header__h-lang
		padding-top: 0
		padding-right: 0
	.header-black .h-lang__item::before,
	.header-white .h-lang__item::before
		top: 10px
		background-color: #fff
	.p-buttons__btn
		font-size: 15px
	.page__p-buttons
		top: 70%
	.header-index .header__h-favorites
		margin-top: 15px
	.header-index .h-lang__item::before
		top: 11px
	.header__right
		position: fixed
		right: 0
		bottom: 0
		top: 0
		width: 200px
		background-color: #000
		text-align: center
		padding: 15px
		z-index: 20
		display: none
		overflow: auto
	.active-mobmenu
		overflow: hidden
		right: 200px
		top: 0
		bottom: 0
		position: fixed
		width: 100%
		&__bg
			position: fixed
			left: 0
			right: 0
			top: 0
			bottom: 0
			background-color: rgba(0, 0, 0, 0.5)
			display: none
			z-index: 11
	.h-nav__button
		display: inline-block
	.h-nav__close
		display: block
	.h-nav__item
		display: block
		width: 100%
		padding: 0
	.h-nav__link
		font-size: 14px
		line-height: 30px
		&::after
			display: none !important
	.header__h-nav
		padding-right: 0
		width: 100%
		text-align: center
	.header__h-favorites
		width: 100%
		text-align: center
		padding-right: 0
		margin-top: 15px
	.h-favorites svg
		font-size: 14px
		top: 5px
	.h-favorites
		display: inline-block
		padding-left: 20px
		line-height: 29px
		font-size: 14px
		&::after
			display: none !important
	.header__h-lang
		width: 100%
		text-align: center
		margin-top: 15px
	.h-lang
		width: 100%
		text-align: center
	.h-lang__link
		font-size: 14px
	.header-index .h-lang__item::before
		top: 6px
	.h-nav__button-right
		text-align: right
	.h-nav__button
		width: 25px
		height: 13px
		display: inline-block
		background-repeat: no-repeat
		background-size: cover
		margin-top: 10px
		z-index: 10
		position: relative
		span
			width: 100%
			position: absolute
			left: 0
			top: 50%
			margin-top: -1px
			right: 0
			content: ''
			height: 2px
			background-color: #fff
		&::before
			width: 100%
			position: absolute
			left: 0
			top: 0
			right: 0
			content: ''
			height: 2px
			background-color: #fff
		&::after
			width: 100%
			position: absolute
			left: 0
			bottom: 0
			right: 0
			content: ''
			height: 2px
			background-color: #fff
	.h-nav__button.active
		span
			display: none
		&::before
			transform: rotate(45deg)
			width: 25px
			top: 5px
		&::after
			transform: rotate(-45deg)
			width: 25px
			bottom: 5px
	.header-white .h-nav__button
		span
			background-color: #121211
		&::before
			background-color: #121211
		&::after
			background-color: #121211
	.white-page .h-nav__link
		color: #fff
	.header-white .h-nav .active .h-nav__link
		color: #fff
	.h-logo__img
		height: 40px
	.header-black .header__h-buy,
	.header-white .header__h-buy
		float: left
		width: 100%
		text-align: center
		margin-top: 15px
	.header-white .header__h-nav,
	.header-black .header__h-nav
		margin-left: 0
	.h-buy
		margin: 0 auto
	.header-white .header__h-nav,
	.header-white .header__h-favorites,
	.header-black .header__h-nav,
	.header-black .header__h-favorites,
	.header__h-lang
		padding-right: 0
	.header-white .h-favorites,
	.header-black .h-favorites
		font-size: 22px
	.header-white .h-lang__link,
	.header-black .h-lang__link
		font-size: 22px
	.header-white .h-favorites, .header-black .h-favorites
		color: #fff
		font-size: 14px
	.header-white .h-favorites svg, .header-black .h-favorites svg
		color: #fff
		font-size: 14px
		top: 5px
	.header-black .header__h-lang, .header-white .header__h-lang
		padding-right: 0
	.header-black .h-lang__item::before, .header-white .h-lang__item::before
		top: 6px
	.header-white .h-lang__link, .header-black .h-lang__link
		color: #fff
		font-size: 14px
	.h-nav
		max-height: none
	.black-page-bg
		background-size: auto 100%
	.header-fixed
		display: none !important
	.header__h-nav
		margin-top: 0
	.header-black .h-nav__link, .header-white .h-nav__link
		font-size: 14px
	.header-black .header__h-nav, .header-white .header__h-nav
		margin-top: 0
/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
	.p-progslider
		.owl-prev
			left: -42px
		.owl-next
			right: -42px
/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.p-buttons__btn
		font-size: 15px
	.page__p-buttons
		top: 70%
	.index-bg
		min-height: 670px
	.page__container-bottom .p-contact__img-wp
		top: 250px
	.page__p-progitem
		margin-left: 0
	.page__p-filter
		padding-right: 0
	.p-pcard__title
		font-size: 30px
	.p-progslider
		.owl-prev
			left: -21px
		.owl-next
			right: -21px
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1100px)
	.index-bg__wrapper
		left: 19%
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	canvas
		display: none !important
	.page__p-buttons
		top: 67%
	.p-buttons__btn
		font-size: 10px
	.page__p-people
		margin-top: 12%
	.page__container-bottom
		padding-top: 60px
		padding-bottom: 240px
	.index-bg
		min-height: 560px
	.page__p-copy
		bottom: 50px
	.page__container-bottom .page__p-social
		bottom: 50px
	.page__container-bottom
		padding-bottom: 150px
	.p-filter__skilet-wp
		display: none
	.p-filter__mob
		height: 54px
		border-bottom: 1px solid #ebebeb
		width: 100%
		padding-left: 54px
		padding-right: 54px
		position: relative
		background-color: #fff
		text-align: center
	.p-filter__download
		height: 100%
		width: 54px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		svg
			font-size: 14px
			color: #222
		&:hover
			text-decoration: none
			color: #222
	.p-filter__mobbtn
		display: inline-block
		line-height: 54px
		text-align: center
		padding-left: 18px
		position: relative
		font-size: 16px
		color: #222
		font-family: "MullerRegular"
		svg
			position: absolute
			left: 0
			top: 18px
			color: #222
			transform: rotate(180deg)
			-webkit-transform: rotate(180deg)
		&:hover
			text-decoration: none
			color: #222
	.p-filter__mobbtn.active
		svg
			transform: rotate(0deg)
			-webkit-transform: rotate(0deg)
	.p-filter__search
		position: absolute
		right: 0
		bottom: 0
		top: 0
		width: 54px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		svg
			font-size: 14px
			color: #222
		&:hover
			text-decoration: none
			color: #222
	.hidden-sm
		display: none
	.p-filter
		position: absolute
		left: 0
		right: 0
		top: 100%
		z-index: 10
		display: none
	.page__p-filter
		position: relative
		padding-top: 0
		margin-top: 74px
		padding-bottom: 0
		margin-bottom: 20px
	.page__p-progitem
		padding-top: 10px
	.page__p-search
		margin-left: 0
		width: 100%
		background-color: #fff
		padding-left: 15px
		padding-right: 15px
		margin-top: 0
		position: absolute
		left: 0
		right: 0
		top: 100%
		z-index: 10
		border-bottom: 1px solid #ebebeb
		display: none
		svg
			display: none
	.page__p-progitem-fav
		padding-top: 74px
	.page__p-progitem-more
		padding-top: 57px
	.p-pcard__title
		font-size: 26px
	.p-pcard__right .p-progitem
		max-width: none
		width: 100%
	.p-media__img
		display: none
	.p-about__img
		display: none !important
	.p-about__top
		margin-left: 0
		padding-top: 0
	.p-about__description
		padding-left: 0
		margin-left: 0
		padding-bottom: 0
		padding-top: 30px
	.index-bg__wrapper-off
		display: block !important
	.index-bg__wrapper-on
		display: none !important
	/**/

@media only screen and (max-width : 920px)
	.page__p-buttons
		top: 66%
	.index-bg
		min-height: 550px
	/**/

@media only screen and (max-width : 848px)
	.page__p-buttons
		top: 69%
	.index-bg
		min-height: 465px
	/**/

@media only screen and (max-width : 800px)

	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.index-bg__wrapper
		display: none
	.page__p-social
		display: none
	.index-bg__img
		background-image: url(../img/index-mob-2.png)
		background-size: auto 100%
		margin: 19px 0 180px
		background-position: center center
	.page__p-buttons
		top: auto
		bottom: 34px
	.p-buttons__btn
		width: 100%
		display: inline-block
		margin: 0 auto 30px
		float: none
		font-size: 12px
		margin-left: 0
		min-width: auto
		max-width: none
		height: 42px
		line-height: 42px
		&:last-child
			margin-bottom: 0
	.page__p-buttons
		left: 0
		right: 0
		width: auto
		margin-right: 0
		text-align: center
	.index-bg__move::before
		background-image: url(../img/index-mob-3.png)
	.index-bg__move::after
		width: 22%
		height: 100%
		background-repeat: no-repeat
		content: ''
		display: block
		position: absolute
		bottom: 0
		right: 0
		background-image: url(../img/atlant.png)
		background-size: 100% auto
		background-position: bottom right
	.header-index,
	.header-black,
	.header-white
		padding-left: 15px
		padding-right: 15px
	.p-people__bottom span
		font-size: 14px
	.p-people__bottom h2
		font-size: 14px
	.p-title
		font-size: 24px
	.page__p-title
		padding-top: 18%
	.page__p-people
		margin-top: 30px
	.p-addr
		padding-left: 0
	.p-addr__item b
		font-size: 14px
	.p-addr__item p
		font-size: 14px
	.p-addr__title
		font-size: 20px
	.page__container-bottom .page__p-social
		display: block
		right: 60px
	.page__p-copy
		left: 60px
	.index-bg__img-bg
		display: none
	.index-bg::after
		background-image: url(../img/index-mob-3.png)
	.index-bg
		min-height: 500px
	.index-bg__move::after
		z-index: 20
	.black-page::before
		background-image: url(../img/mob-black-page1.png)
		background-size: 100% 100%
	.p-contact__img
		display: none
	.page__container-bottom .page__p-social
		left: 0
		right: 0
		bottom: 86px
		text-align: center
	.page__p-copy
		bottom: 36px
		width: 242px
		left: 0
		right: 0
		margin: 0 auto
		text-align: center
	.page__p-copy
		color: #fff
		span
			display: block
		a
			text-decoration: underline
			color: #fff
			&:hover
				text-decoration: none
				color: #fff
	.page__p-mobatlant
		display: block
		width: 100%
		text-align: center
		margin-top: 36px
		img
			height: 387px
			width: auto
			display: inline-block
			max-width: 100%
	.page__map img
		height: 400px
		width: auto
	.page__map
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		overflow: hidden
	.page__p-title
		padding-top: 40px
	.page__p-filter
		margin-bottom: 0
	.page__p-progitem
		padding-top: 0
	.p-progitem
		margin-bottom: 15px
	.footer .page__p-social
		display: block
		text-align: center
		margin-top: -46px
	.footer
		padding: 70px 0 42px
	.page__p-filter
		margin-top: 30px
	.p-sort__item
		margin-left: 30px
	.page__p-sort
		padding-top: 30px
	.page__participant
		padding-top: 30px
	.page__p-participant
		padding-bottom: 30px
	.header-black .header__h-lang, .header-white .header__h-lang
		padding-right: 0
	.page__p-progitem-fav
		padding-top: 30px
	.page__p-progitem-more
		padding-top: 30px
	.page__p-subtitle
		padding-top: 30px
	.page__p-izb
		padding-top: 0
	.page__p-progitem-more
		padding-bottom: 15px
	.row-pcard
		padding-top: 30px
	.p-progslider
		.owl-prev
			left: -15px
		.owl-next
			right: -15px
	.footer__f-adab
		display: none
	.p-pcard__right
		padding-left: 0
		padding-top: 30px
	.p-pcard__left
		padding-top: 10px
	.p-pcard__right
		.p-progitem
			padding-top: 15px
		.p-progitem__btn
			margin-top: 0
	.row-p-description
		padding-bottom: 30px
	.page__p-description h2
		font-size: 24px
	.page__p-description p
		font-size: 16px
	.page__p-progslider
		padding-top: 10px
	.page__partner-card .p-participant__bottom
		padding-top: 15px
	.p-parcard-right
		padding-left: 0
	.p-parcard__title
		padding-bottom: 15px
	.p-parcard__description
		padding-bottom: 15px
	.page__partner-card
		padding-bottom: 30px
	.page__partner-card
		padding-top: 15px
	.p-pcard__description
		padding-top: 15px
	.p-pcard__social
		padding-top: 2px
	.black-page-bg
		background-image: url(../img/mob-black-page1.png)
	.black-page__wrapper
		background-image: none
	.page__p-media
		padding-top: 30px
	.page__p-media h2
		padding-bottom: 15px
		font-size: 24px
	.page__p-media p
		padding-bottom: 15px
		font-size: 16px
	.page__p-media iframe
		margin-bottom: 30px
		height: 250px
	.p-about__description
		font-size: 16px
	.p-about__item-wp
		height: 230px
		text-align: center
	.p-about__item-wp
		img
			width: auto !important
			display: inline-block
	.black-page-bg
		background-size: 100% 100%
	.p-popup__left
		float:: none
		width: 100%
		padding-right: 0
		padding-bottom: 15px
	.p-popup__right
		width: 100%
		padding-left: 0
		float: none
	.p-popup__row
		padding-bottom: 15px
	.p-popup__title
		padding-bottom: 15px
	.p-popup
		padding: 20px 30px
	.fancybox-close-small
		top: 7px
		right: 20px
	.p-popup__title
		font-size: 22px
	.p-popup__center .btn
		min-width: 100%
		width: 100%
	.header-fixed
		position: static !important
	.black-page-bg
		margin-left: 0
		margin-top: 0
		width: 100%
		height: 100%
	.black-page-bg img
		display: none
	.index-bg__wrapper-on
		display: none !important
	.index-bg__wrapper-off
		display: block !important
		position: absolute
		left: 0
		bottom: 0
		.index-bg__glitch
			background-image: url(../img/index.mob-figure.png)
			background-repeat: no-repeat
			background-position: left bottom
	.p-buttons
		width: 180px
		margin: 0 auto
	.index-bg__wrapper-off
		margin-top: 30px
	.header-index, .header-black, .header-white
		padding-left: 0
		padding-right: 0

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
	.p-sort__item
		width: 100%
		margin-left: 0
		margin-bottom: 5px
	.p-parcard-right
		padding-top: 30px
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 470px)
	
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px)
	.index-bg__img
		background-position: center center
		background-size: auto 100%
	.header__h-favorites
		width: 100%
		float: none
		text-align: center
	.header__h-lang
		width: 100%
		text-align: center
		flow: none
	.index-bg
		height: 570px
	.index-bg__move::after
		display: none
	.index-bg__wrapper-off
		margin-top: 132px
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.page__p-copy
		span
			display: none
	.page__p-mobatlant
		display: none
	
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.p-filter__mob
		display: none
	.visible-sm
		display: none
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)

	/**/

