@charset "UTF-8";
.btn {
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-family: 'Roboto mono', sans-serif;
  font-weight: 500;
  border: 1px solid #121212;
  line-height: 1.5;
  font-size: 0.875em;
  padding: 16px;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
}

.btn:focus {
  outline: none;
}

@media screen and (min-width: 30em) {
  .btn {
    max-width: 220px;
  }
  .btn.btn-small {
    max-width: 180px;
  }
}

@media screen and (min-width: 40em) {
  .btn {
    display: inline-block;
  }
}

.btn-clear {
  background-color: transparent;
}

.btn-clear:hover {
  background-color: #121212;
  color: #fff;
}

.btn-clear.btn-light {
  border-color: #fff;
  color: #fff;
}

.btn-clear.btn-light:hover {
  color: #121212;
  background-color: #fff;
}

.btn-light:hover {
  background-color: #121212;
  color: #fff;
}

.btn-dark {
  background-color: #121212;
  color: #fff;
  border-color: #fff;
}

.btn-dark:hover {
  color: #807f83;
}

.btn-glitch {
  transform: translateZ(0);
  overflow: visible;
}

.btn-glitch.btn-glitch-active {
  -webkit-filter: url("#filter");
  filter: url("#filter");
}

.btn-glitch.btn-glitch-active::after, .btn-glitch.btn-glitch-active::before {
  content: '';
  width: 1px;
  position: absolute;
  top: -1px;
  bottom: -1px;
}

.btn-glitch.btn-glitch-active::after {
  left: -2px;
  background-color: #ff536b;
  animation: colorshift-red 2.6s infinite;
  animation-timing-function: step-end;
}

.btn-glitch.btn-glitch-active::before {
  right: -2px;
  background-color: #3ffeff;
  animation: colorshift-blue 2.6s infinite;
  animation-timing-function: step-end;
}

body {
  margin: 0;
}

.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.body-section .dark {
  background-color: #121212;
}

.body-section .half {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes colorshift-red {
  0%, 7% {
    background-color: #ff536b;
  }
  8%, 18% {
    background-color: transparent;
  }
  19% {
    background-color: #ff536b;
    width: 2px;
  }
  23%, 100% {
    background-color: transparent;
  }
}

@keyframes colorshift-blue {
  0%, 7% {
    background-color: #3ffeff;
  }
  8%, 18% {
    background-color: transparent;
  }
  19% {
    background-color: #3ffeff;
    width: 2px;
  }
  23%, 100% {
    background-color: transparent;
  }
}

/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
}

.ui-widget-content {
  background-color: #f6f6f6;
}

.ui-widget-header {
  background-color: #40e0d0;
}

.ui-slider-horizontal {
  height: 4px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-radius: 50%;
  border: none;
  background-color: #40e0d0;
  width: 12px;
  height: 12px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "GothamProRegular", sans-serif;
  overflow-x: hidden;
}

.header-index {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 2%;
  padding-left: 35px;
  padding-right: 35px;
}

.header__right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  padding-top: 28px;
}

.header__h-nav {
  padding-right: 80px;
  margin-top: -20px;
}

.header__h-favorites {
  padding-right: 80px;
  margin-top: -22px;
}

.header__h-lang {
  padding-top: 1px;
}

.black-page {
  position: relative;
}

.black-page__wrapper {
  display: block;
  position: relative;
  background-image: url(../img/contacts-fon.png);
  background-size: 110% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.black-page-bg {
  content: '';
  background-image: url(../img/black-page.jpg);
  background-size: 100% auto;
  background-position: center bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.white-page {
  background-image: url(../img/white-page.jpg);
  background-size: 100% 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}

.white-page .h-nav__link {
  color: #121211;
}

.white-page .h-nav__link:hover {
  color: #121211;
}

.white-page .h-nav__link:hover::after {
  border-bottom: 3px solid #121211;
}

.white-page .h-favorites,
.white-page .h-lang__link {
  color: #121211;
}

.white-page .h-favorites:hover,
.white-page .h-lang__link:hover {
  color: #121211;
}

.white-page .h-favorites svg {
  color: #121211;
}

.page-black {
  position: relative;
}

.page-white {
  position: relative;
}

.page-index {
  position: relative;
}

.page__p-buttons {
  position: absolute;
  top: 68%;
  z-index: 5;
  width: 50%;
  left: 50%;
}

.page__p-social {
  position: absolute;
  right: 6%;
  bottom: 9.5%;
  z-index: 5;
}

.page__p-title {
  text-align: center;
  padding-top: 4%;
}

.page__p-people {
  margin-top: 30%;
}

.page__container {
  max-width: 1545px;
  margin: 0 auto;
}

.page__container .container {
  max-width: 100%;
}

.page__container-bottom {
  padding-top: 100px;
  padding-bottom: 435px;
  position: relative;
  overflow: hidden;
}

.page__container-bottom .page__p-social {
  bottom: 118px;
  right: 50px;
}

.page__container-bottom .p-contact__img {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  padding-top: 74px;
  height: 100%;
  width: 100%;
  margin-left: 5%;
  z-index: -1;
}

.page__container-bottom .p-contact__img img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  position: absolute;
  bottom: -20px;
  display: inline-block;
  right: 10%;
}

.page__container-bottom .p-contact__img-wp {
  position: absolute;
  top: 74px;
  right: 5%;
  bottom: 0;
  left: 0;
}

.page__container-bottom .p-contact__img-glitch {
  background-image: url(../img/atlant-black.png);
  display: block;
  height: 100%;
  width: auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.page__map {
  margin-top: 60px;
}

.page__map img {
  display: block;
  width: 100%;
}

.page__p-copy {
  position: absolute;
  bottom: 118px;
  left: 0;
  font-size: 12px;
  color: #919191;
  letter-spacing: 0.25;
  font-family: "MullerRegular";
}

.page__p-search {
  width: auto;
  height: 50px;
  border-bottom: 2px solid #121211;
  border-top: 2px solid transparent;
  padding-left: 31px;
  position: relative;
  margin-top: 70px;
  margin-left: -30px;
}

.page__p-search svg {
  font-size: 16px;
  color: #121211;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.page__p-programmer {
  text-align: right;
  margin-top: 78px;
}

.page__p-filter {
  padding-top: 74px;
  padding-right: 50px;
  padding-bottom: 20px;
  position: relative;
}

.page__p-progitem {
  padding-top: 74px;
}

.page__p-progitem {
  margin-left: -30px;
  width: auto;
}

.page__p-progitem-fav {
  margin-left: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #121211;
}

.page__p-progitem-more {
  margin-left: 0;
  padding-top: 57px;
  padding-bottom: 50px;
}

.page__p-sort {
  text-align: center;
  padding-top: 56px;
}

.page__p-participant {
  padding-bottom: 60px;
}

.page__participant {
  padding-top: 64px;
}

.page__p-subtitle {
  padding: 57px 0 0;
  text-align: center;
}

.page__p-izb {
  padding-top: 30px;
}

.page__p-description h2 {
  color: #19211e;
  text-transform: uppercase;
  font-size: 34px;
  display: block;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
  padding-bottom: 8px;
}

.page__p-description p {
  font-size: 18px;
  color: #121211;
  letter-spacing: 0.15px;
  font-family: "MullerRegular";
}

.page__p-progslider {
  padding-top: 25px;
  padding-bottom: 10px;
}

.page__partner-card {
  padding-top: 42px;
  padding-bottom: 50px;
}

.page__partner-card .p-participant__bottom {
  padding-left: 0;
  padding-right: 0;
  padding-top: 67px;
}

.page__partner-card .p-participant__btn {
  background-color: #fff;
  color: #020202;
}

.page__partner-card .page__p-participant {
  padding-bottom: 0;
}

.footer {
  padding: 70px 0;
}

.footer .page__p-copy {
  position: static;
  color: #121211;
}

.footer .page__p-social {
  position: static;
  text-align: right;
}

.footer .page__p-social .p-social__link svg {
  color: #121211;
}

.footer-black .page__p-copy {
  color: #fff;
}

.footer-black .page__p-social .p-social__link svg {
  color: #fff;
}

.footer__f-adab {
  color: #121211;
  font-size: 11px;
  letter-spacing: 0.25px;
  text-align: right;
  font-family: "MullerRegular";
  padding-top: 1px;
  display: block;
}

.header-index .header__h-favorites {
  margin-top: -22px;
}

.header-white .h-favorites::after {
  background-color: #121211;
}

.p-pcard__right .p-progitem {
  max-width: 336px;
  width: auto;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.p-pcard__right .p-progitem__wrapper {
  border: none;
  padding-top: 0;
  height: auto;
}

.p-pcard__right .p-progitem__row {
  padding-bottom: 16px;
}

.row-pcard {
  padding-top: 4%;
}

.row-p-description {
  padding-bottom: 65px;
}

.p-pcard-white .p-pcard__prev {
  color: #fff;
}

.p-pcard-white .p-pcard__prev svg {
  color: #fff;
}

.p-pcard-white .p-pcard__prev:hover {
  color: #fff;
}

/*Компоненты*/
.btn {
  width: 293px;
  height: 78px;
  line-height: 78px;
  background-color: #fff;
  padding: 0;
  text-align: center;
  color: #080303;
  border: 1px solid #fff;
  font-size: 18px;
  letter-spacing: 0.4px;
  font-family: "MullerBold";
  text-transform: uppercase;
  border-radius: 0;
  display: block;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.h-logo {
  display: inline-block;
}

.h-logo__img {
  height: 69px;
  width: auto;
  display: block;
}

.h-nav {
  font-size: 0;
  max-height: 63px;
  overflow: hidden;
}

.h-nav__item {
  display: inline-block;
  padding-left: 33px;
}

.h-nav__item-first {
  padding-left: 0;
}

.h-nav__link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-family: "MullerMedium";
  display: block;
  text-decoration: none;
  position: relative;
  line-height: 60px;
  position: relative;
}

.h-nav__link::after {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #fff;
  display: none;
  position: absolute;
}

.h-nav__link:hover {
  text-decoration: none;
  color: #fff;
}

.h-nav__link:hover::after {
  display: block;
}

.h-nav__button {
  display: none;
}

.h-nav__button svg {
  display: block;
  font-size: 24px;
  color: #fff;
}

.h-nav__close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.h-nav__close svg {
  font-size: 24px;
  display: block;
  color: #fff;
}

.h-nav .active .h-nav__link {
  text-decoration: none;
  color: #fff;
}

.h-nav .active .h-nav__link::after {
  display: block;
}

.header-white .h-nav .active .h-nav__link {
  text-decoration: none;
  color: #121211;
}

.header-white .h-nav .active .h-nav__link::after {
  display: block;
  background-color: #121211;
}

.h-favorites {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.25px;
  text-decoration: none;
  display: block;
  padding-left: 17px;
  position: relative;
  line-height: 60px;
}

.h-favorites:hover {
  text-decoration: none;
  color: #fff;
}

.h-favorites::after {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #fff;
  display: none;
  position: absolute;
}

.h-favorites:hover {
  text-decoration: none;
  color: #fff;
}

.h-favorites:hover::after {
  display: block;
}

.h-favorites svg {
  font-size: 14px;
  color: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 22px;
}

.h-favorites.active::after {
  display: block;
}

.h-lang {
  font-size: 0;
}

.h-lang__item {
  display: inline-block;
  padding-left: 16px;
  position: relative;
}

.h-lang__item::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 5px;
  background-color: #fff;
}

.h-lang__item:first-child {
  padding-left: 0;
}

.h-lang__item:first-child::before {
  display: none;
}

.h-lang__link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.40px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "GothamProRegular";
}

.h-lang__link:hover {
  text-decoration: none;
  color: #fff;
}

.h-lang .active .h-lang__link {
  font-family: "GothamProBold";
}

.p-buttons {
  display: block;
}

.p-buttons::before {
  content: '';
  display: table;
}

.p-buttons::after {
  content: '';
  display: table;
  clear: both;
}

.p-buttons__btn {
  width: 100%;
  max-width: 28vh;
  min-width: 27%;
  height: 8vh;
  line-height: 8vh;
  margin-right: 6%;
  float: left;
}

.p-buttons__btn:last-child {
  margin-right: 0;
}

.p-social {
  font-size: 0;
}

.p-social__item {
  display: inline-block;
  margin-right: 18px;
}

.p-social__item:last-child {
  margin-right: 0;
}

.p-social__link {
  display: block;
}

.p-social__link svg {
  font-size: 18px;
  color: #fff;
}

.index-bg {
  position: relative;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
}

.index-bg::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/index-ser.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.index-bg__move {
  width: auto;
  height: 100%;
  display: block;
  background-image: url(../img/index-parallax-1.jpg);
  margin-right: -40px;
  margin-left: -40px;
  background-size: 100% 120%;
  background-repeat: no-repeat;
}

.index-bg__img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 62px;
  bottom: 0;
  background-image: url(../img/index-fix.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: left 30%;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.index-bg__img-bg {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/index-elements.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.index-bg__wrapper {
  position: absolute;
  bottom: 0;
  top: 115px;
  left: 25%;
  width: 100%;
  height: auto;
  z-index: 3;
}

.index-bg__glitch {
  position: absolute;
  background-image: url(../img/index-parallax-4.png);
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header-black {
  padding-top: 2%;
  padding-left: 35px;
  padding-right: 35px;
}

.header-black .header__h-nav {
  padding-right: 52px;
  margin-left: -80px;
}

.header-black .header__h-favorites {
  padding-right: 52px;
}

.header-black .header__h-lang {
  padding-right: 52px;
}

.header-black .header__h-buy {
  margin-top: -16px;
}

.header-white {
  padding-top: 2%;
  padding-left: 35px;
  padding-right: 35px;
}

.header-white .header__h-nav {
  padding-right: 52px;
  margin-left: -80px;
}

.header-white .header__h-favorites {
  padding-right: 52px;
}

.header-white .header__h-lang {
  padding-right: 52px;
}

.header-white .header__h-buy {
  margin-top: -16px;
}

.header-white .h-buy {
  background-color: #0d0d0d;
  color: #fff;
}

.header-white .h-lang__item::before {
  background-color: #0d0d0d;
}

.h-buy {
  width: 172px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
}

.p-title {
  text-transform: uppercase;
  font-size: 48px;
  color: #fff;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
}

.p-title-small {
  text-transform: none;
  font-size: 40px;
  position: relative;
  display: inline-block;
}

.p-title-small span {
  right: -34px;
  top: -2px;
  display: block;
  position: absolute;
  color: #7c7c7c;
  font-size: 14px;
  font-family: "MullerRegular";
}

.p-people__top img {
  display: block;
  width: 100%;
}

.p-people__bottom {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-people__bottom h2 {
  font-size: 18px;
  color: #fff;
  font-family: "MullerBold";
  letter-spacing: 0.25px;
  display: block;
  text-align: center;
}

.p-people__bottom span {
  display: block;
  width: 100%;
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.25px;
  font-family: "MullerRegular";
}

.p-people__social {
  font-size: 0;
  padding-top: 10px;
}

.p-people__item {
  display: inline-block;
}

.p-people__link {
  display: block;
  color: #fff;
  font-size: 18px;
}

.p-people__link:hover {
  color: #fff;
  text-decoration: none;
}

.p-addr {
  padding-left: 42px;
}

.p-addr__list {
  display: block;
}

.p-addr__item {
  margin-bottom: 30px;
  padding-left: 45px;
  position: relative;
}

.p-addr__item svg {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-addr__item b {
  color: #fefefe;
  font-size: 18px;
  font-family: "MullerBold";
  display: block;
  letter-spacing: 0.25px;
}

.p-addr__item p {
  color: #fefefe;
  font-size: 18px;
  font-family: "MullerRegular";
  display: block;
  letter-spacing: 0.25px;
}

.p-addr__title {
  padding-left: 45px;
  color: #fff;
  font-size: 24px;
  font-family: "MullerBold";
  letter-spacing: 0.25px;
  padding-bottom: 20px;
  display: block;
  padding-top: 45px;
}

.p-addr__brend {
  padding-left: 45px;
}

.p-addr__brend img {
  display: block;
}

.p-search {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  height: 100%;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-family: "MullerRegular";
}

.p-programmer {
  width: auto;
  height: 52px;
  position: relative;
  padding-right: 30px;
  padding-left: 15px;
  max-width: none;
  display: inline-block;
  width: 177px;
  background-color: transparent;
  border: 2px solid #121211;
}

.p-programmer span {
  padding-left: 15px;
  white-space: normal;
  text-align: left;
  display: block;
  font-size: 11px;
  color: #121211;
  position: absolute;
  left: 15px;
  text-transform: none;
  right: 30px;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height: 14px;
  font-family: "MullerMedium";
}

.p-programmer span svg {
  font-size: 14px;
  color: #121211;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-filter {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

.p-filter__cat {
  padding-bottom: 30px;
}

.p-filter__title {
  display: block;
  padding-left: 26px;
  position: relative;
  color: #121211;
  font-size: 16px;
  font-family: "MullerMedium";
  letter-spacing: 0.15px;
  cursor: pointer;
}

.p-filter__title svg {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #121211;
}

.p-filter__cat.show .p-filter__title svg {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.p-filter__cat.show .p-filter__list {
  display: block;
}

.p-filter__list {
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 26px;
}

.p-filter__item {
  display: block;
  width: 100%;
  padding-bottom: 18px;
}

.p-filter__item:last-child {
  padding-bottom: 0;
}

.p-filter__item input {
  display: none;
}

.p-filter__item label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  font-size: 14px;
  color: #000;
  font-family: "MullerLight";
}

.p-filter__item label svg {
  position: absolute;
  left: 0;
  top: -1px;
  color: #b0b0b0;
  font-size: 16px;
}

.p-filter__block {
  padding-top: 20px;
  padding-left: 26px;
}

.p-filter__bottom::before {
  content: '';
  display: table;
}

.p-filter__bottom::after {
  content: '';
  display: table;
  clear: both;
}

.p-filter__button {
  width: 100%;
  height: 45px;
  border: 2px solid #121211;
  line-height: 45px;
  font-size: 11px;
  color: #121211;
  max-width: none;
}

.p-filter__button:hover {
  color: #121211;
}

.p-filter__skilet {
  display: block;
}

.p-filter__skilet-wp {
  display: inline-block;
  position: absolute;
  left: -118px;
  top: -211px;
  z-index: -1;
}

.p-amount__left {
  width: 50%;
  float: left;
  display: block;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #000;
  font-family: "HelveticaNeueCyr";
  margin-top: 14px;
}

.p-amount__right {
  width: 50%;
  float: right;
  display: block;
  text-align: right;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #000;
  font-family: "HelveticaNeueCyr";
  margin-top: 14px;
}

.p-progitem {
  background-color: #fff;
  padding: 35px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.p-progitem__title {
  display: block;
  padding-right: 60px;
  position: relative;
  color: #000;
  line-height: 24px;
  font-family: "MullerBold";
  font-size: 18px;
  height: 72px;
  overflow: hidden;
  margin-bottom: 16px;
}

.p-progitem__icons {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
}

.p-progitem__icon {
  display: inline-block;
  padding-left: 14px;
}

.p-progitem__icon:first-child {
  padding-left: 0;
}

.p-progitem__icon.active svg {
  color: #d80a0a;
}

.p-progitem__iconlink {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.p-progitem__iconlink svg {
  color: #000;
  font-size: 12px;
}

.p-progitem__description {
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-family: "MullerLight";
  letter-spacing: 0.10px;
  width: 90%;
  display: block;
  margin-bottom: 16px;
  height: 32px;
  overflow: hidden;
}

.p-progitem__wrapper {
  border-top: 1px solid #707070;
  padding-top: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  height: 123px;
  overflow: hidden;
}

.p-progitem__data {
  width: 42px;
  font-size: 11px;
  color: #000;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

.p-progitem__data span {
  color: #000;
  font-size: 32px;
  letter-spacing: -0.20px;
  font-family: "GothamProRegular";
  border-bottom: 1px solid #707070;
  display: block;
  margin-bottom: 5px;
}

.p-progitem__list {
  width: 100%;
  padding-left: 22px;
}

.p-progitem__item {
  padding-left: 21px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 14px;
  position: relative;
}

.p-progitem__item:last-child {
  margin-bottom: 0;
}

.p-progitem__item a {
  text-decoration: underline;
  color: #000;
  font-size: 12px;
}

.p-progitem__item a:hover {
  text-decoration: none;
  color: #000;
}

.p-progitem__item svg {
  font-size: 10px;
  color: #40e0d0;
  position: absolute;
  left: 0;
  top: 2.9px;
}

.p-progitem__row {
  padding-top: 25px;
}

.p-progitem__row::before {
  content: '';
  display: table;
}

.p-progitem__row::after {
  content: '';
  display: table;
  clear: both;
}

.p-progitem__left {
  float: left;
  width: 50%;
  font-size: 16px;
  color: #000;
  font-family: "MullerMedium";
}

.p-progitem__right {
  float: right;
  width: 50%;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
  text-align: right;
}

.p-progitem__btn {
  margin-top: 25px;
  width: 100%;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  height: 52px;
  line-height: 52px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.4px;
  max-width: none;
}

.p-progitem__btn:hover {
  background-color: #000;
}

.p-progitem__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: -1;
}

.p-progitem__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.p-progitem:hover {
  background-color: transparent;
}

.p-progitem:hover .p-progitem__img {
  display: block;
}

.p-sort {
  font-size: 0;
}

.p-sort__item {
  display: inline-block;
  position: relative;
  margin-left: 60px;
}

.p-sort__item:first-child {
  margin-left: 0;
}

.p-sort__link {
  color: #d7d7d7;
  font-size: 16px;
  font-family: "MullerRegular";
  letter-spacing: 0.25px;
  padding-left: 22px;
  position: relative;
}

.p-sort__link svg {
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 14px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.p-sort__link:hover {
  color: #d7d7d7;
  text-decoration: none;
}

.p-sort__item.active .p-sort__link svg {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.p-sort__hidden {
  position: absolute;
  top: 100%;
  margin-top: 6px;
  background-color: #fff;
  width: 160px;
  padding: 5px 0;
  left: 50%;
  margin-left: -80px;
  display: none;
  z-index: 10;
}

.p-sort__subitem {
  display: block;
}

.p-sort__sublink {
  padding: 5px 15px;
  display: block;
  color: #121211;
  font-size: 16px;
  font-family: "MullerRegular";
  letter-spacing: 0.25px;
  text-align: left;
}

.p-sort__sublink:hover {
  color: #121211;
  background-color: #d7d7d7;
  text-decoration: none;
}

.p-participant__top {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.p-participant__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.p-participant__bottom {
  padding-top: 22px;
  padding-left: 14px;
  padding-right: 14px;
}

.p-participant__title {
  padding-bottom: 22px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.15px;
  font-family: "MullerMedium";
}

.p-participant__btn {
  height: 47px;
  width: 100%;
  line-height: 47px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  background-color: transparent;
  max-width: none;
}

.p-participant__btn:hover {
  background-color: #fff;
  color: #020202;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.p-subtitle {
  font-size: 30px;
  color: #121211;
  display: inline-block;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
  text-transform: uppercase;
}

.p-izb {
  width: 100%;
  display: block;
  max-width: none;
  height: 52px;
  background-color: transparent;
  line-height: 52px;
  color: #121211;
  font-size: 12px;
  text-align: center;
  border: 2px solid #121211;
}

.p-izb:hover {
  color: #121211;
}

.p-pcard__left {
  width: 100%;
  padding-top: 25px;
}

.p-pcard__right {
  width: 100%;
  padding-left: 28px;
  padding-top: 45px;
}

.p-pcard__img {
  display: block;
  width: 100%;
}

.p-pcard__title {
  color: #121211;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
}

.p-pcard .p-progitem {
  padding-top: 50px;
}

.p-pcard__prev {
  position: relative;
  font-family: "MullerRegular";
  font-size: 18px;
  letter-spacing: 0.25px;
  color: #000;
  padding-left: 26px;
}

.p-pcard__prev:hover {
  text-decoration: none;
  color: #000;
}

.p-pcard__prev svg {
  position: absolute;
  left: 0;
  top: -1px;
  color: #000;
}

.p-pcard .p-progitem__icons {
  position: static;
  text-align: right;
}

.p-pcard__description {
  padding-top: 45px;
}

.p-pcard__description p {
  display: block;
  padding-bottom: 15px;
  color: #121211;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-family: "MullerRegular";
}

.p-pcard__social {
  font-size: 0;
  padding-top: 45px;
}

.p-pcard__social li {
  display: inline-block;
  padding-right: 20px;
}

.p-pcard__social li:last-child {
  padding-right: 0;
}

.p-pcard__social a {
  color: #121211;
  font-size: 18px;
}

.p-pcard__social a:hover {
  text-decoration: none;
  color: #121211;
}

.p-pcard__social svg {
  color: #121211;
  font-size: 18px;
}

.p-progslider {
  position: relative;
}

.p-progslider .owl-dots {
  display: none;
}

.p-progslider .owl-prev {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-indent: -9999px;
  background-image: url(../img/slider-arrow.png) !important;
  background-position: left center !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: -72px;
  z-index: 10;
}

.p-progslider .owl-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-indent: -9999px;
  background-image: url(../img/slider-arrow.png) !important;
  background-position: right center !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: -72px;
  z-index: 10;
}

.p-progslider .p-progitem {
  margin-bottom: 0;
}

.p-parcard-right {
  padding-left: 36px;
}

.p-parcard__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  letter-spacing: 0.25px;
  font-family: "MullerBold";
  display: block;
  padding-bottom: 30px;
}

.p-parcard__description {
  display: block;
  padding-bottom: 30px;
  font-size: 14px;
  color: #fff;
  font-family: "MullerRegular";
  letter-spacing: 0.25px;
}

.p-parcard__link {
  color: #3874ee;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-family: "MullerRegular";
}

.p-parcard__link:hover {
  color: #3874ee;
  text-decoration: underline;
}
